:root {
  --chakra-aspect-ratios-square: 1 / 1;
  --chakra-aspect-ratios-landscape: 4 / 3;
  --chakra-aspect-ratios-portrait: 3 / 4;
  --chakra-aspect-ratios-wide: 16 / 9;
  --chakra-aspect-ratios-ultrawide: 18 / 5;
  --chakra-aspect-ratios-golden: 1.618 / 1;
  --chakra-animations-spin: spin 1s linear infinite;
  --chakra-animations-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --chakra-animations-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --chakra-animations-bounce: bounce 1s infinite;
  --chakra-blurs-sm: 4px;
  --chakra-blurs-md: 8px;
  --chakra-blurs-lg: 12px;
  --chakra-blurs-xl: 16px;
  --chakra-blurs-2xl: 24px;
  --chakra-blurs-3xl: 40px;
  --chakra-blurs-4xl: 64px;
  --chakra-borders-xs: 0.5px solid;
  --chakra-borders-sm: 1px solid;
  --chakra-borders-md: 2px solid;
  --chakra-borders-lg: 4px solid;
  --chakra-borders-xl: 8px solid;
  --chakra-colors-transparent: transparent;
  --chakra-colors-current: currentcolor;
  --chakra-colors-black: oklch(14.1% 0.004 285.8deg);
  --chakra-colors-white: oklch(100% 0 0deg);
  --chakra-colors-white-alpha-50: oklch(100% 0 0deg / 4%);
  --chakra-colors-white-alpha-100: oklch(100% 0 0deg / 6%);
  --chakra-colors-white-alpha-200: oklch(100% 0 0deg / 8%);
  --chakra-colors-white-alpha-300: oklch(100% 0 0deg / 16%);
  --chakra-colors-white-alpha-400: oklch(100% 0 0deg / 24%);
  --chakra-colors-white-alpha-500: oklch(100% 0 0deg / 36%);
  --chakra-colors-white-alpha-600: oklch(100% 0 0deg / 48%);
  --chakra-colors-white-alpha-700: oklch(100% 0 0deg / 64%);
  --chakra-colors-white-alpha-800: oklch(100% 0 0deg / 80%);
  --chakra-colors-white-alpha-900: oklch(100% 0 0deg / 92%);
  --chakra-colors-white-alpha-950: oklch(100% 0 0deg / 95%);
  --chakra-colors-black-alpha-50: oklch(0% 0 0deg / 4%);
  --chakra-colors-black-alpha-100: oklch(0% 0 0deg / 6%);
  --chakra-colors-black-alpha-200: oklch(0% 0 0deg / 8%);
  --chakra-colors-black-alpha-300: oklch(0% 0 0deg / 16%);
  --chakra-colors-black-alpha-400: oklch(0% 0 0deg / 24%);
  --chakra-colors-black-alpha-500: oklch(0% 0 0deg / 36%);
  --chakra-colors-black-alpha-600: oklch(0% 0 0deg / 48%);
  --chakra-colors-black-alpha-700: oklch(0% 0 0deg / 64%);
  --chakra-colors-black-alpha-800: oklch(0% 0 0deg / 80%);
  --chakra-colors-black-alpha-900: oklch(0% 0 0deg / 92%);
  --chakra-colors-black-alpha-950: oklch(0% 0 0deg / 95%);
  --chakra-colors-gray-50: oklch(98.5% 0 0deg);
  --chakra-colors-gray-100: oklch(96.7% 0.001 286.4deg);
  --chakra-colors-gray-200: oklch(92% 0.004 286.3deg);
  --chakra-colors-gray-300: oklch(87.1% 0.005 286.3deg);
  --chakra-colors-gray-400: oklch(71.2% 0.013 286.1deg);
  --chakra-colors-gray-500: oklch(55.2% 0.014 285.9deg);
  --chakra-colors-gray-600: oklch(44.2% 0.015 285.8deg);
  --chakra-colors-gray-700: oklch(37% 0.012 285.8deg);
  --chakra-colors-gray-800: oklch(27.4% 0.005 286deg);
  --chakra-colors-gray-900: oklch(21% 0.006 285.9deg);
  --chakra-colors-gray-950: oklch(17.8% 0 0deg);
  --chakra-colors-red-50: oklch(97.1% 0.013 17.4deg);
  --chakra-colors-red-100: oklch(93.6% 0.031 17.7deg);
  --chakra-colors-red-200: oklch(88.5% 0.059 18.3deg);
  --chakra-colors-red-300: oklch(80.8% 0.103 19.6deg);
  --chakra-colors-red-400: oklch(71.1% 0.166 22.2deg);
  --chakra-colors-red-500: oklch(63.7% 0.208 25.3deg);
  --chakra-colors-red-600: oklch(57.7% 0.215 27.3deg);
  --chakra-colors-red-700: oklch(44.2% 0.163 27.1deg);
  --chakra-colors-red-800: oklch(29.1% 0.095 25.3deg);
  --chakra-colors-red-900: oklch(21.6% 0.059 23.4deg);
  --chakra-colors-red-950: oklch(17.4% 0.04 22.2deg);
  --chakra-colors-orange-50: oklch(98% 0.016 73.7deg);
  --chakra-colors-orange-100: oklch(95.4% 0.037 75.2deg);
  --chakra-colors-orange-200: oklch(90.1% 0.073 70.7deg);
  --chakra-colors-orange-300: oklch(83.7% 0.117 66.3deg);
  --chakra-colors-orange-400: oklch(75.8% 0.159 55.9deg);
  --chakra-colors-orange-500: oklch(70.5% 0.187 47.6deg);
  --chakra-colors-orange-600: oklch(64.6% 0.194 41.1deg);
  --chakra-colors-orange-700: oklch(45.2% 0.138 38.8deg);
  --chakra-colors-orange-800: oklch(37.1% 0.104 38deg);
  --chakra-colors-orange-900: oklch(24.5% 0.07 36.1deg);
  --chakra-colors-orange-950: oklch(18.3% 0.044 38.1deg);
  --chakra-colors-yellow-50: oklch(98.7% 0.026 102.2deg);
  --chakra-colors-yellow-100: oklch(97.3% 0.069 103.2deg);
  --chakra-colors-yellow-200: oklch(94.5% 0.124 101.5deg);
  --chakra-colors-yellow-300: oklch(90.5% 0.166 98.1deg);
  --chakra-colors-yellow-400: oklch(86.1% 0.173 91.9deg);
  --chakra-colors-yellow-500: oklch(79.5% 0.162 86deg);
  --chakra-colors-yellow-600: oklch(68.1% 0.142 75.8deg);
  --chakra-colors-yellow-700: oklch(48.4% 0.102 68.2deg);
  --chakra-colors-yellow-800: oklch(42.1% 0.09 57.7deg);
  --chakra-colors-yellow-900: oklch(28.6% 0.064 53.8deg);
  --chakra-colors-yellow-950: oklch(21.3% 0.044 55.6deg);
  --chakra-colors-green-50: oklch(98.2% 0.018 155.8deg);
  --chakra-colors-green-100: oklch(96.2% 0.043 156.7deg);
  --chakra-colors-green-200: oklch(92.5% 0.081 156deg);
  --chakra-colors-green-300: oklch(87.1% 0.136 154.4deg);
  --chakra-colors-green-400: oklch(80% 0.182 151.7deg);
  --chakra-colors-green-500: oklch(72.3% 0.192 149.6deg);
  --chakra-colors-green-600: oklch(62.7% 0.17 149.2deg);
  --chakra-colors-green-700: oklch(45.8% 0.117 150.3deg);
  --chakra-colors-green-800: oklch(36.4% 0.082 152.6deg);
  --chakra-colors-green-900: oklch(24.2% 0.055 154.1deg);
  --chakra-colors-green-950: oklch(19% 0.04 155.8deg);
  --chakra-colors-teal-50: oklch(98.4% 0.014 180.7deg);
  --chakra-colors-teal-100: oklch(95.3% 0.05 180.8deg);
  --chakra-colors-teal-200: oklch(91% 0.093 180.4deg);
  --chakra-colors-teal-300: oklch(85.5% 0.125 181.1deg);
  --chakra-colors-teal-400: oklch(78.5% 0.133 181.9deg);
  --chakra-colors-teal-500: oklch(70.4% 0.123 182.5deg);
  --chakra-colors-teal-600: oklch(60% 0.104 184.7deg);
  --chakra-colors-teal-700: oklch(43.2% 0.072 185.7deg);
  --chakra-colors-teal-800: oklch(34.7% 0.051 191.2deg);
  --chakra-colors-teal-900: oklch(24.8% 0.04 192.2deg);
  --chakra-colors-teal-950: oklch(18.6% 0.029 190.9deg);
  --chakra-colors-blue-50: oklch(97% 0.014 254.6deg);
  --chakra-colors-blue-100: oklch(93.2% 0.032 255.6deg);
  --chakra-colors-blue-200: oklch(88.2% 0.057 254.1deg);
  --chakra-colors-blue-300: oklch(84% 0.082 251deg);
  --chakra-colors-blue-400: oklch(71.4% 0.143 254.6deg);
  --chakra-colors-blue-500: oklch(62.3% 0.188 259.8deg);
  --chakra-colors-blue-600: oklch(54.6% 0.215 262.9deg);
  --chakra-colors-blue-700: oklch(40.8% 0.174 264.4deg);
  --chakra-colors-blue-800: oklch(34.9% 0.121 264.9deg);
  --chakra-colors-blue-900: oklch(26% 0.08 268.4deg);
  --chakra-colors-blue-950: oklch(20% 0.053 268.4deg);
  --chakra-colors-cyan-50: oklch(98.4% 0.019 200.9deg);
  --chakra-colors-cyan-100: oklch(95.6% 0.044 203.4deg);
  --chakra-colors-cyan-200: oklch(91.7% 0.077 205deg);
  --chakra-colors-cyan-300: oklch(86.5% 0.115 207.1deg);
  --chakra-colors-cyan-400: oklch(79.7% 0.134 211.5deg);
  --chakra-colors-cyan-500: oklch(71.5% 0.126 215.2deg);
  --chakra-colors-cyan-600: oklch(60.9% 0.111 221.7deg);
  --chakra-colors-cyan-700: oklch(44.2% 0.078 222.6deg);
  --chakra-colors-cyan-800: oklch(35.3% 0.057 226.6deg);
  --chakra-colors-cyan-900: oklch(26.8% 0.046 229.2deg);
  --chakra-colors-cyan-950: oklch(20.9% 0.033 227.7deg);
  --chakra-colors-purple-50: oklch(97.7% 0.014 308.3deg);
  --chakra-colors-purple-100: oklch(94.6% 0.033 307.2deg);
  --chakra-colors-purple-200: oklch(90.2% 0.06 306.7deg);
  --chakra-colors-purple-300: oklch(82.7% 0.108 306.4deg);
  --chakra-colors-purple-400: oklch(72.2% 0.177 305.5deg);
  --chakra-colors-purple-500: oklch(62.7% 0.233 303.9deg);
  --chakra-colors-purple-600: oklch(55.8% 0.252 302.3deg);
  --chakra-colors-purple-700: oklch(42% 0.197 302.4deg);
  --chakra-colors-purple-800: oklch(33.9% 0.146 305.1deg);
  --chakra-colors-purple-900: oklch(25.4% 0.125 301.7deg);
  --chakra-colors-purple-950: oklch(18% 0.083 304.1deg);
  --chakra-colors-pink-50: oklch(97.1% 0.014 343.2deg);
  --chakra-colors-pink-100: oklch(94.8% 0.028 342.3deg);
  --chakra-colors-pink-200: oklch(89.9% 0.059 343.2deg);
  --chakra-colors-pink-300: oklch(82.3% 0.11 346deg);
  --chakra-colors-pink-400: oklch(72.5% 0.175 349.8deg);
  --chakra-colors-pink-500: oklch(65.6% 0.212 354.3deg);
  --chakra-colors-pink-600: oklch(59.2% 0.218 0.6deg);
  --chakra-colors-pink-700: oklch(47.3% 0.177 3deg);
  --chakra-colors-pink-800: oklch(35.4% 0.129 3.6deg);
  --chakra-colors-pink-900: oklch(25.9% 0.094 3.3deg);
  --chakra-colors-pink-950: oklch(19.9% 0.066 1.1deg);
}
