:root {
  --color-black: var(--chakra-colors-black);
  --color-white: var(--chakra-colors-white);

  /* PANEL */
  --shadow:
    0px 8px 16px color-mix(in srgb, black 64%, transparent),
    0px 0px 1px inset color-mix(in srgb, var(--chakra-colors-gray-300) 30%, transparent);

  /* PRIMARY */
  --color-primary-fg: var(--color-teal-fg);
  --color-primary-subtle: var(--color-teal-subtle);
  --color-primary-muted: var(--color-teal-muted);
  --color-primary-emphasized: var(--color-teal-emphasized);
  --color-primary-solid: var(--color-teal-solid);
  --color-primary-focusring: var(--color-teal-focusring);
  --color-primary-border: var(--color-teal-border);

  /* SECONDARY */
  --color-secondary-fg: var(--color-teal-fg);
  --color-secondary-subtle: var(--color-teal-subtle);
  --color-secondary-muted: var(--color-teal-muted);
  --color-secondary-emphasized: var(--color-teal-emphasized);
  --color-secondary-solid: var(--color-teal-solid);
  --color-secondary-focusring: var(--color-teal-focusring);
  --color-secondary-border: var(--color-teal-border);

  /* ACCENT */
  --color-accent-fg: var(--color-teal-fg);
  --color-accent-subtle: var(--color-teal-subtle);
  --color-accent-muted: var(--color-teal-muted);
  --color-accent-emphasized: var(--color-teal-emphasized);
  --color-accent-solid: var(--color-teal-solid);
  --color-accent-focusring: var(--color-teal-focusring);
  --color-accent-border: var(--color-teal-border);

  /* BODY */
  --color-body-background: var(--chakra-colors-black);
  --color-body-text: var(--chakra-colors-gray-50);

  /* CAKRA */
  --color-bg: light-dark(var(--chakra-colors-white), var(--chakra-colors-black));
  --color-bg-subtle: light-dark(var(--chakra-colors-gray-50), var(--chakra-colors-gray-950));
  --color-bg-muted: light-dark(var(--chakra-colors-gray-100), var(--chakra-colors-gray-900));
  --color-bg-emphasized: light-dark(var(--chakra-colors-gray-200), var(--chakra-colors-gray-800));
  --color-bg-inverted: light-dark(var(--chakra-colors-black), var(--chakra-colors-white));
  --color-bg-panel: light-dark(var(--chakra-colors-white), var(--chakra-colors-gray-950));
  --color-bg-error: light-dark(var(--chakra-colors-red-50), var(--chakra-colors-red-950));
  --color-bg-warning: light-dark(var(--chakra-colors-orange-50), var(--chakra-colors-orange-950));
  --color-bg-success: light-dark(var(--chakra-colors-green-50), var(--chakra-colors-green-950));
  --color-bg-info: light-dark(var(--chakra-colors-blue-50), var(--chakra-colors-blue-950));
  --color-fg: light-dark(var(--chakra-colors-black), var(--chakra-colors-gray-50));
  --color-fg-muted: light-dark(var(--chakra-colors-gray-600), var(--chakra-colors-gray-400));
  --color-fg-subtle: light-dark(var(--chakra-colors-gray-400), var(--chakra-colors-gray-500));
  --color-fg-inverted: light-dark(var(--chakra-colors-gray-50), var(--chakra-colors-black));
  --color-fg-error: light-dark(var(--chakra-colors-red-500), var(--chakra-colors-red-400));
  --color-fg-warning: light-dark(var(--chakra-colors-orange-600), var(--chakra-colors-orange-300));
  --color-fg-success: light-dark(var(--chakra-colors-green-600), var(--chakra-colors-green-300));
  --color-fg-info: light-dark(var(--chakra-colors-blue-600), var(--chakra-colors-blue-300));
  --color-border: light-dark(var(--chakra-colors-gray-200), var(--chakra-colors-gray-800));
  --color-border-muted: light-dark(var(--chakra-colors-gray-100), var(--chakra-colors-gray-900));
  --color-border-subtle: light-dark(var(--chakra-colors-gray-50), var(--chakra-colors-gray-950));
  --color-border-emphasized: light-dark(var(--chakra-colors-gray-300), var(--chakra-colors-gray-700));
  --color-border-inverted: light-dark(var(--chakra-colors-gray-800), var(--chakra-colors-gray-200));
  --color-border-error: light-dark(var(--chakra-colors-red-500), var(--chakra-colors-red-400));
  --color-border-warning: light-dark(var(--chakra-colors-orange-500), var(--chakra-colors-orange-400));
  --color-border-success: light-dark(var(--chakra-colors-green-500), var(--chakra-colors-green-400));
  --color-border-info: light-dark(var(--chakra-colors-blue-500), var(--chakra-colors-blue-400));

  /* gray */
  --color-gray-contrast: light-dark(var(--chakra-colors-white), var(--chakra-colors-black));
  --color-gray-fg: light-dark(var(--chakra-colors-gray-800), var(--chakra-colors-gray-200));
  --color-gray-subtle: light-dark(var(--chakra-colors-gray-100), var(--chakra-colors-gray-900));
  --color-gray-muted: light-dark(var(--chakra-colors-gray-200), var(--chakra-colors-gray-800));
  --color-gray-emphasized: light-dark(var(--chakra-colors-gray-300), var(--chakra-colors-gray-700));
  --color-gray-solid: light-dark(var(--chakra-colors-gray-900), var(--chakra-colors-white));
  --color-gray-focus-ring: light-dark(var(--chakra-colors-gray-400), var(--chakra-colors-gray-400));
  --color-gray-border: light-dark(var(--chakra-colors-gray-200), var(--chakra-colors-gray-800));

  /* red */
  --color-red-contrast: light-dark(white, white);
  --color-red-fg: light-dark(var(--chakra-colors-red-700), var(--chakra-colors-red-300));
  --color-red-subtle: light-dark(var(--chakra-colors-red-100), var(--chakra-colors-red-900));
  --color-red-muted: light-dark(var(--chakra-colors-red-200), var(--chakra-colors-red-800));
  --color-red-emphasized: light-dark(var(--chakra-colors-red-300), var(--chakra-colors-red-700));
  --color-red-solid: light-dark(var(--chakra-colors-red-600), var(--chakra-colors-red-600));
  --color-red-focus-ring: light-dark(var(--chakra-colors-red-500), var(--chakra-colors-red-500));
  --color-red-border: light-dark(var(--chakra-colors-red-500), var(--chakra-colors-red-400));

  /* orange */
  --color-orange-contrast: light-dark(white, black);
  --color-orange-fg: light-dark(var(--chakra-colors-orange-700), var(--chakra-colors-orange-300));
  --color-orange-subtle: light-dark(var(--chakra-colors-orange-100), var(--chakra-colors-orange-900));
  --color-orange-muted: light-dark(var(--chakra-colors-orange-200), var(--chakra-colors-orange-800));
  --color-orange-emphasized: light-dark(var(--chakra-colors-orange-300), var(--chakra-colors-orange-700));
  --color-orange-solid: light-dark(var(--chakra-colors-orange-600), var(--chakra-colors-orange-500));
  --color-orange-focus-ring: light-dark(var(--chakra-colors-orange-500), var(--chakra-colors-orange-500));
  --color-orange-border: light-dark(var(--chakra-colors-orange-500), var(--chakra-colors-orange-400));

  /* green */
  --color-green-contrast: light-dark(white, white);
  --color-green-fg: light-dark(var(--chakra-colors-green-700), var(--chakra-colors-green-300));
  --color-green-subtle: light-dark(var(--chakra-colors-green-100), var(--chakra-colors-green-900));
  --color-green-muted: light-dark(var(--chakra-colors-green-200), var(--chakra-colors-green-800));
  --color-green-emphasized: light-dark(var(--chakra-colors-green-300), var(--chakra-colors-green-700));
  --color-green-solid: light-dark(var(--chakra-colors-green-600), var(--chakra-colors-green-600));
  --color-green-focus-ring: light-dark(var(--chakra-colors-green-500), var(--chakra-colors-green-500));
  --color-green-border: light-dark(var(--chakra-colors-green-500), var(--chakra-colors-green-400));

  /* blue */
  --color-blue-contrast: light-dark(white, white);
  --color-blue-fg: light-dark(var(--chakra-colors-blue-700), var(--chakra-colors-blue-300));
  --color-blue-subtle: light-dark(var(--chakra-colors-blue-100), var(--chakra-colors-blue-900));
  --color-blue-muted: light-dark(var(--chakra-colors-blue-200), var(--chakra-colors-blue-800));
  --color-blue-emphasized: light-dark(var(--chakra-colors-blue-300), var(--chakra-colors-blue-700));
  --color-blue-solid: light-dark(var(--chakra-colors-blue-600), var(--chakra-colors-blue-600));
  --color-blue-focus-ring: light-dark(var(--chakra-colors-blue-500), var(--chakra-colors-blue-500));
  --color-blue-border: light-dark(var(--chakra-colors-blue-500), var(--chakra-colors-blue-400));

  /* yellow */
  --color-yellow-contrast: light-dark(black, black);
  --color-yellow-fg: light-dark(var(--chakra-colors-yellow-800), var(--chakra-colors-yellow-300));
  --color-yellow-subtle: light-dark(var(--chakra-colors-yellow-100), var(--chakra-colors-yellow-900));
  --color-yellow-muted: light-dark(var(--chakra-colors-yellow-200), var(--chakra-colors-yellow-800));
  --color-yellow-emphasized: light-dark(var(--chakra-colors-yellow-300), var(--chakra-colors-yellow-700));
  --color-yellow-solid: light-dark(var(--chakra-colors-yellow-300), var(--chakra-colors-yellow-300));
  --color-yellow-focus-ring: light-dark(var(--chakra-colors-yellow-500), var(--chakra-colors-yellow-500));
  --color-yellow-border: light-dark(var(--chakra-colors-yellow-500), var(--chakra-colors-yellow-500));

  /* teal */
  --color-teal-contrast: light-dark(white, white);
  --color-teal-fg: light-dark(var(--chakra-colors-teal-700), var(--chakra-colors-teal-300));
  --color-teal-subtle: light-dark(var(--chakra-colors-teal-100), var(--chakra-colors-teal-900));
  --color-teal-muted: light-dark(var(--chakra-colors-teal-200), var(--chakra-colors-teal-800));
  --color-teal-emphasized: light-dark(var(--chakra-colors-teal-300), var(--chakra-colors-teal-700));
  --color-teal-solid: light-dark(var(--chakra-colors-teal-600), var(--chakra-colors-teal-600));
  --color-teal-focus-ring: light-dark(var(--chakra-colors-teal-500), var(--chakra-colors-teal-500));
  --color-teal-border: light-dark(var(--chakra-colors-teal-500), var(--chakra-colors-teal-400));

  /* purple */
  --color-purple-contrast: light-dark(white, white);
  --color-purple-fg: light-dark(var(--chakra-colors-purple-700), var(--chakra-colors-purple-300));
  --color-purple-subtle: light-dark(var(--chakra-colors-purple-100), var(--chakra-colors-purple-900));
  --color-purple-muted: light-dark(var(--chakra-colors-purple-200), var(--chakra-colors-purple-800));
  --color-purple-emphasized: light-dark(var(--chakra-colors-purple-300), var(--chakra-colors-purple-700));
  --color-purple-solid: light-dark(var(--chakra-colors-purple-600), var(--chakra-colors-purple-600));
  --color-purple-focus-ring: light-dark(var(--chakra-colors-purple-500), var(--chakra-colors-purple-500));
  --color-purple-border: light-dark(var(--chakra-colors-purple-500), var(--chakra-colors-purple-400));

  /* pink */
  --color-pink-contrast: light-dark(white, white);
  --color-pink-fg: light-dark(var(--chakra-colors-pink-700), var(--chakra-colors-pink-300));
  --color-pink-subtle: light-dark(var(--chakra-colors-pink-100), var(--chakra-colors-pink-900));
  --color-pink-muted: light-dark(var(--chakra-colors-pink-200), var(--chakra-colors-pink-800));
  --color-pink-emphasized: light-dark(var(--chakra-colors-pink-300), var(--chakra-colors-pink-700));
  --color-pink-solid: light-dark(var(--chakra-colors-pink-600), var(--chakra-colors-pink-600));
  --color-pink-focus-ring: light-dark(var(--chakra-colors-pink-500), var(--chakra-colors-pink-500));
  --color-pink-border: light-dark(var(--chakra-colors-pink-500), var(--chakra-colors-pink-400));

  /* cyan */
  --color-cyan-contrast: light-dark(white, white);
  --color-cyan-fg: light-dark(var(--chakra-colors-cyan-700), var(--chakra-colors-cyan-300));
  --color-cyan-subtle: light-dark(var(--chakra-colors-cyan-100), var(--chakra-colors-cyan-900));
  --color-cyan-muted: light-dark(var(--chakra-colors-cyan-200), var(--chakra-colors-cyan-800));
  --color-cyan-emphasized: light-dark(var(--chakra-colors-cyan-300), var(--chakra-colors-cyan-700));
  --color-cyan-solid: light-dark(var(--chakra-colors-cyan-600), var(--chakra-colors-cyan-600));
  --color-cyan-focus-ring: light-dark(var(--chakra-colors-cyan-500), var(--chakra-colors-cyan-500));
  --color-cyan-border: light-dark(var(--chakra-colors-cyan-500), var(--chakra-colors-cyan-400));

  /* shadows */
  --shadows-xs:
    light-dark(
      0px 1px 2px color-mix(in srgb, var(--chakra-colors-gray-900) 10%, transparent),
      0px 0px 1px color-mix(in srgb, var(--chakra-colors-gray-900) 20%, transparent),
      0px 1px 1px color-mix(in srgb, black 64%, transparent),
      0px 0px 1px inset color-mix(in srgb, var(--chakra-colors-gray-300) 20%, transparent)
    );
  --shadows-sm:
    light-dark(
      0px 2px 4px color-mix(in srgb, var(--chakra-colors-gray-900) 10%, transparent),
      0px 0px 1px color-mix(in srgb, var(--chakra-colors-gray-900) 30%, transparent),
      0px 2px 4px color-mix(in srgb, black 64%, transparent),
      0px 0px 1px inset color-mix(in srgb, var(--chakra-colors-gray-300) 30%, transparent)
    );
  --shadows-md:
    light-dark(
      0px 4px 8px color-mix(in srgb, var(--chakra-colors-gray-900) 10%, transparent),
      0px 0px 1px color-mix(in srgb, var(--chakra-colors-gray-900) 30%, transparent),
      0px 4px 8px color-mix(in srgb, black 64%, transparent),
      0px 0px 1px inset color-mix(in srgb, var(--chakra-colors-gray-300) 30%, transparent)
    );
  --shadows-lg:
    light-dark(
      0px 8px 16px color-mix(in srgb, var(--chakra-colors-gray-900) 10%, transparent),
      0px 0px 1px color-mix(in srgb, var(--chakra-colors-gray-900) 30%, transparent),
      0px 8px 16px color-mix(in srgb, black 64%, transparent),
      0px 0px 1px inset color-mix(in srgb, var(--chakra-colors-gray-300) 30%, transparent)
    );
  --shadows-xl:
    light-dark(
      0px 16px 24px color-mix(in srgb, var(--chakra-colors-gray-900) 10%, transparent),
      0px 0px 1px color-mix(in srgb, var(--chakra-colors-gray-900) 30%, transparent),
      0px 16px 24px color-mix(in srgb, black 64%, transparent),
      0px 0px 1px inset color-mix(in srgb, var(--chakra-colors-gray-300) 30%, transparent)
    );
  --shadows-2xl:
    light-dark(
      0px 24px 40px color-mix(in srgb, var(--chakra-colors-gray-900) 16%, transparent),
      0px 0px 1px color-mix(in srgb, var(--chakra-colors-gray-900) 30%, transparent),
      0px 24px 40px color-mix(in srgb, black 64%, transparent),
      0px 0px 1px inset color-mix(in srgb, var(--chakra-colors-gray-300) 30%, transparent)
    );
  --shadows-inner:
    light-dark(
      inset 0 2px 4px 0 color-mix(in srgb, black 5%, transparent),
      inset 0 2px 4px 0 black
    );
  --shadows-inset:
    light-dark(
      inset 0 0 0 1px color-mix(in srgb, black 5%, transparent),
      inset 0 0 0 1px color-mix(in srgb, var(--chakra-colors-gray-300) 5%, transparent)
    );
}
