:root {
  --transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  --transition-duration: 0.25s;
  --transition: var(--transition-timing-function) var(--transition-duration);
  --transition-duration-reduced: 0.01s;
  --transition-reduced: var(--transition-timing-function) var(--transition-duration-reduced);

  @media (prefers-reduced-motion: no-preference) {
    --transition-duration-reduced: var(--transition-duration);
  }
}
