button {
  padding: 0;
  font-family: var(--font-family);
  font-size: 1em;
  color: currentcolor;
  cursor: pointer;
  background-color: transparent;
  border: 0;

  &:disabled {
    cursor: not-allowed;
  }
}
