html {
  font-size: var(--font-size-base);
  text-size-adjust: 100%;
}

body {
  scrollbar-gutter: stable;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0 0 var(--spacing-4);
  text-wrap: pretty;
}

:heading {
  font-size: calc(var(--font-size-scale-base) * pow(var(--font-size-scale-ratio), 5 - sibling-index()));
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-heading);
  text-wrap: balance;
  overflow-wrap: break-word;
  text-box: trim-both cap alphabetic;
}

h1 {
  margin: var(--spacing-1) 0 var(--spacing-4);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

h2 {
  margin: var(--spacing-1) 0 var(--spacing-3);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
}

h3 {
  margin: 0 0 var(--spacing-2);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
}

h4 {
  margin: 0 0 var(--spacing-2);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
}

pre,
blockquote {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-heading);
}

pre {
  padding: var(--spacing-4);
  font-family: "Courier New", Courier, monospace;
  line-height: var(--line-height-heading);
  white-space: pre-wrap;
  background-color: var(--color-panel-bg);
  box-shadow: var(--shadow);
}

blockquote {
  position: relative;
  padding-inline-start: var(--spacing-6);
  margin: var(--spacing-4) var(--spacing-4) var(--spacing-6);

  &::before {
    position: absolute;
    inset-inline-start: 0;
    display: inline-block;
    font-size: var(--font-size-h1);
    content: "“";
  }
}

strong {
  font-weight: var(--font-weight-bold);
}
