:root {
  --color-cyan-contrast: light-dark(white, white);
  --color-cyan-fg: light-dark(var(--color-cyan-700), var(--color-cyan-300));
  --color-cyan-subtle: light-dark(var(--color-cyan-100), var(--color-cyan-900));
  --color-cyan-muted: light-dark(var(--color-cyan-200), var(--color-cyan-800));
  --color-cyan-emphasized: light-dark(var(--color-cyan-300), var(--color-cyan-700));
  --color-cyan-solid: light-dark(var(--color-cyan-600), var(--color-cyan-600));
  --color-cyan-focus-ring: light-dark(var(--color-cyan-500), var(--color-cyan-500));
  --color-cyan-border: light-dark(var(--color-cyan-500), var(--color-cyan-400));
  --color-cyan-50: oklch(98.4% 0.019 200.9deg);
  --color-cyan-100: oklch(95.6% 0.044 203.4deg);
  --color-cyan-200: oklch(91.7% 0.077 205deg);
  --color-cyan-300: oklch(86.5% 0.115 207.1deg);
  --color-cyan-400: oklch(79.7% 0.134 211.5deg);
  --color-cyan-500: oklch(71.5% 0.126 215.2deg);
  --color-cyan-600: oklch(60.9% 0.111 221.7deg);
  --color-cyan-700: oklch(44.2% 0.078 222.6deg);
  --color-cyan-800: oklch(35.3% 0.057 226.6deg);
  --color-cyan-900: oklch(26.8% 0.046 229.2deg);
  --color-cyan-950: oklch(20.9% 0.033 227.7deg);
}
