:root {
  --color-orange-contrast: light-dark(white, black);
  --color-orange-fg: light-dark(var(--color-orange-700), var(--color-orange-300));
  --color-orange-subtle: light-dark(var(--color-orange-100), var(--color-orange-900));
  --color-orange-muted: light-dark(var(--color-orange-200), var(--color-orange-800));
  --color-orange-emphasized: light-dark(var(--color-orange-300), var(--color-orange-700));
  --color-orange-solid: light-dark(var(--color-orange-600), var(--color-orange-500));
  --color-orange-focus-ring: light-dark(var(--color-orange-500), var(--color-orange-500));
  --color-orange-border: light-dark(var(--color-orange-500), var(--color-orange-400));
  --color-orange-50: oklch(98% 0.016 73.7deg);
  --color-orange-100: oklch(95.4% 0.037 75.2deg);
  --color-orange-200: oklch(90.1% 0.073 70.7deg);
  --color-orange-300: oklch(83.7% 0.117 66.3deg);
  --color-orange-400: oklch(75.8% 0.159 55.9deg);
  --color-orange-500: oklch(70.5% 0.187 47.6deg);
  --color-orange-600: oklch(64.6% 0.194 41.1deg);
  --color-orange-700: oklch(45.2% 0.138 38.8deg);
  --color-orange-800: oklch(37.1% 0.104 38deg);
  --color-orange-900: oklch(24.5% 0.07 36.1deg);
  --color-orange-950: oklch(18.3% 0.044 38.1deg);
}
