:root {
  --color-red-contrast: light-dark(white, white);
  --color-red-fg: light-dark(var(--color-red-700), var(--color-red-300));
  --color-red-subtle: light-dark(var(--color-red-100), var(--color-red-900));
  --color-red-muted: light-dark(var(--color-red-200), var(--color-red-800));
  --color-red-emphasized: light-dark(var(--color-red-300), var(--color-red-700));
  --color-red-solid: light-dark(var(--color-red-600), var(--color-red-600));
  --color-red-focus-ring: light-dark(var(--color-red-500), var(--color-red-500));
  --color-red-border: light-dark(var(--color-red-500), var(--color-red-400));
  --color-red-50: oklch(97.1% 0.013 17.4deg);
  --color-red-100: oklch(93.6% 0.031 17.7deg);
  --color-red-200: oklch(88.5% 0.059 18.3deg);
  --color-red-300: oklch(80.8% 0.103 19.6deg);
  --color-red-400: oklch(71.1% 0.166 22.2deg);
  --color-red-500: oklch(63.7% 0.208 25.3deg);
  --color-red-600: oklch(57.7% 0.215 27.3deg);
  --color-red-700: oklch(44.2% 0.163 27.1deg);
  --color-red-800: oklch(29.1% 0.095 25.3deg);
  --color-red-900: oklch(21.6% 0.059 23.4deg);
  --color-red-950: oklch(17.4% 0.04 22.2deg);
}
