:root {
  --color-teal-contrast: light-dark(white, white);
  --color-teal-fg: light-dark(var(--color-teal-700), var(--color-teal-300));
  --color-teal-subtle: light-dark(var(--color-teal-100), var(--color-teal-900));
  --color-teal-muted: light-dark(var(--color-teal-200), var(--color-teal-800));
  --color-teal-emphasized: light-dark(var(--color-teal-300), var(--color-teal-700));
  --color-teal-solid: light-dark(var(--color-teal-600), var(--color-teal-600));
  --color-teal-focus-ring: light-dark(var(--color-teal-500), var(--color-teal-500));
  --color-teal-border: light-dark(var(--color-teal-500), var(--color-teal-400));
  --color-teal-50: oklch(98.4% 0.014 180.7deg);
  --color-teal-100: oklch(95.3% 0.05 180.8deg);
  --color-teal-200: oklch(91% 0.093 180.4deg);
  --color-teal-300: oklch(85.5% 0.125 181.1deg);
  --color-teal-400: oklch(78.5% 0.133 181.9deg);
  --color-teal-500: oklch(70.4% 0.123 182.5deg);
  --color-teal-600: oklch(60% 0.104 184.7deg);
  --color-teal-700: oklch(43.2% 0.072 185.7deg);
  --color-teal-800: oklch(34.7% 0.051 191.2deg);
  --color-teal-900: oklch(24.8% 0.04 192.2deg);
  --color-teal-950: oklch(18.6% 0.029 190.9deg);
}
