:root {
  --color-yellow-contrast: light-dark(black, black);
  --color-yellow-fg: light-dark(var(--color-yellow-800), var(--color-yellow-300));
  --color-yellow-subtle: light-dark(var(--color-yellow-100), var(--color-yellow-900));
  --color-yellow-muted: light-dark(var(--color-yellow-200), var(--color-yellow-800));
  --color-yellow-emphasized: light-dark(var(--color-yellow-300), var(--color-yellow-700));
  --color-yellow-solid: light-dark(var(--color-yellow-300), var(--color-yellow-300));
  --color-yellow-focus-ring: light-dark(var(--color-yellow-500), var(--color-yellow-500));
  --color-yellow-border: light-dark(var(--color-yellow-500), var(--color-yellow-500));
  --color-yellow-50: oklch(98.7% 0.026 102.2deg);
  --color-yellow-100: oklch(97.3% 0.069 103.2deg);
  --color-yellow-200: oklch(94.5% 0.124 101.5deg);
  --color-yellow-300: oklch(90.5% 0.166 98.1deg);
  --color-yellow-400: oklch(86.1% 0.173 91.9deg);
  --color-yellow-500: oklch(79.5% 0.162 86deg);
  --color-yellow-600: oklch(68.1% 0.142 75.8deg);
  --color-yellow-700: oklch(48.4% 0.102 68.2deg);
  --color-yellow-800: oklch(42.1% 0.09 57.7deg);
  --color-yellow-900: oklch(28.6% 0.064 53.8deg);
  --color-yellow-950: oklch(21.3% 0.044 55.6deg);
}
