/* BASE */
@import "./../base/base-colors.css";

/* THEME */
@import "./../chakra/teal.css";
@import "./../chakra/purple.css";
@import "./../chakra/cyan.css";

:root {
  /* PRIMARY */
  --color-primary-contrast: light-dark(white, white);
  --color-primary-fg: light-dark(var(--color-wdt-red-700), var(--color-wdt-red-300));
  --color-primary-subtle: light-dark(var(--color-wdt-red-100), var(--color-wdt-red-900));
  --color-primary-muted: light-dark(var(--color-wdt-red-200), var(--color-wdt-red-800));
  --color-primary-emphasized: light-dark(var(--color-wdt-red-300), var(--color-wdt-red-700));
  --color-primary-solid: light-dark(var(--color-wdt-red-600), var(--color-wdt-red-600));
  --color-primary-focus-ring: light-dark(var(--color-wdt-red-500), var(--color-wdt-red-500));
  --color-primary-border: light-dark(var(--color-wdt-red-500), var(--color-wdt-red-400));

  /* SECONDARY */
  --color-secondary-contrast: oklch(from var(--color-secondary-solid) 30% 0.1 h);
  --color-secondary-fg: light-dark(black, black);
  --color-secondary-subtle: light-dark(var(--color-wdt-yellow-100), var(--color-wdt-yellow-900));
  --color-secondary-muted: light-dark(var(--color-wdt-yellow-200), var(--color-wdt-yellow-800));
  --color-secondary-emphasized: light-dark(var(--color-wdt-yellow-400), var(--color-wdt-yellow-700));
  --color-secondary-solid: light-dark(var(--color-wdt-yellow-300), var(--color-wdt-yellow-300));
  --color-secondary-focus-ring: light-dark(var(--color-wdt-yellow-500), var(--color-wdt-yellow-500));
  --color-secondary-border: light-dark(var(--color-wdt-yellow-500), var(--color-wdt-yellow-500));

  /* ACCENT */
  --color-accent-fg: var(--color-purple-fg);
  --color-accent-contrast: var(--color-purple-contrast);
  --color-accent-subtle: var(--color-purple-subtle);
  --color-accent-muted: var(--color-purple-muted);
  --color-accent-emphasized: var(--color-purple-emphasized);
  --color-accent-solid: var(--color-purple-solid);
  --color-accent-focus-ring: var(--color-purple-focus-ring);
  --color-accent-border: var(--color-purple-border);
  --color-wdt-yellow: oklch(92.5% 0.193 102.82deg);
  --color-dominant: var(--color-wdt-yellow);
  --color-secondary: var(--color-wdt-red);

  /* WDT-RED */
  --color-wdt-red: oklch(47.19% 0.1582 33.33deg);
  --color-wdt-red-50: oklch(from var(--color-wdt-red) calc(l + 0.35) c h);
  --color-wdt-red-100: oklch(from var(--color-wdt-red) calc(l + 0.3) c h);
  --color-wdt-red-200: oklch(from var(--color-wdt-red) calc(l + 0.2) c h);
  --color-wdt-red-300: oklch(from var(--color-wdt-red) calc(l + 0.1) c h);
  --color-wdt-red-400: oklch(from var(--color-wdt-red) calc(l + 0.1) c h);
  --color-wdt-red-500: oklch(from var(--color-wdt-red) calc(l + 0.05) c h);
  --color-wdt-red-600: var(--color-wdt-red);
  --color-wdt-red-700: oklch(from var(--color-wdt-red) calc(l - 0.05) c h);
  --color-wdt-red-800: oklch(from var(--color-wdt-red) calc(l - 0.1) c h);
  --color-wdt-red-900: oklch(from var(--color-wdt-red) calc(l - 0.15) c h);
  --color-wdt-red-950: oklch(from var(--color-wdt-red) calc(l - 0.2) c h);

  /* WDT YELLOW */
  --color-wdt-yellow-100: oklch(from var(--color-wdt-yellow) calc(l + 0.1) c h);
  --color-wdt-yellow-200: oklch(from var(--color-wdt-yellow) calc(l + 0.05) c h);
  --color-wdt-yellow-300: var(--color-wdt-yellow);
  --color-wdt-yellow-400: oklch(from var(--color-wdt-yellow) calc(l - 0.05) c h);
  --color-wdt-yellow-500: oklch(from var(--color-wdt-yellow) calc(l - 0.1) c h);
  --color-wdt-yellow-600: oklch(from var(--color-wdt-yellow) calc(l - 0.15) c h);
  --color-wdt-yellow-700: oklch(from var(--color-wdt-yellow) calc(l - 0.2) c h);
  --color-wdt-yellow-800: oklch(from var(--color-wdt-yellow) calc(l - 0.25) c h);
  --color-wdt-yellow-900: oklch(from var(--color-wdt-yellow) calc(l - 0.3) c h);
}
