:root {
  --color-gray-contrast: light-dark(var(--colors-white), var(--colors-black));
  --color-gray-fg: light-dark(var(--colors-gray-800), var(--colors-gray-200));
  --color-gray-subtle: light-dark(var(--colors-gray-100), var(--colors-gray-900));
  --color-gray-muted: light-dark(var(--colors-gray-200), var(--colors-gray-800));
  --color-gray-emphasized: light-dark(var(--colors-gray-300), var(--colors-gray-700));
  --color-gray-solid: light-dark(var(--colors-gray-900), var(--colors-white));
  --color-gray-focus-ring: light-dark(var(--colors-gray-400), var(--colors-gray-400));
  --color-gray-border: light-dark(var(--colors-gray-200), var(--colors-gray-800));
  --colors-gray-50: oklch(98.5% 0 0deg);
  --colors-gray-100: oklch(96.7% 0.001 286.4deg);
  --colors-gray-200: oklch(92% 0.004 286.3deg);
  --colors-gray-300: oklch(87.1% 0.005 286.3deg);
  --colors-gray-400: oklch(71.2% 0.013 286.1deg);
  --colors-gray-500: oklch(55.2% 0.014 285.9deg);
  --colors-gray-600: oklch(44.2% 0.015 285.8deg);
  --colors-gray-700: oklch(37% 0.012 285.8deg);
  --colors-gray-800: oklch(27.4% 0.005 286deg);
  --colors-gray-900: oklch(21% 0.006 285.9deg);
  --colors-gray-950: oklch(17.8% 0 0deg);
}
