:root {
  --color-green-contrast: light-dark(white, white);
  --color-green-fg: light-dark(var(--color-green-700), var(--color-green-300));
  --color-green-subtle: light-dark(var(--color-green-100), var(--color-green-900));
  --color-green-muted: light-dark(var(--color-green-200), var(--color-green-800));
  --color-green-emphasized: light-dark(var(--color-green-300), var(--color-green-700));
  --color-green-solid: light-dark(var(--color-green-600), var(--color-green-600));
  --color-green-focus-ring: light-dark(var(--color-green-500), var(--color-green-500));
  --color-green-border: light-dark(var(--color-green-500), var(--color-green-400));
  --color-green-50: oklch(98.2% 0.018 155.8deg);
  --color-green-100: oklch(96.2% 0.043 156.7deg);
  --color-green-200: oklch(92.5% 0.081 156deg);
  --color-green-300: oklch(87.1% 0.136 154.4deg);
  --color-green-400: oklch(80% 0.182 151.7deg);
  --color-green-500: oklch(72.3% 0.192 149.6deg);
  --color-green-600: oklch(62.7% 0.17 149.2deg);
  --color-green-700: oklch(45.8% 0.117 150.3deg);
  --color-green-800: oklch(36.4% 0.082 152.6deg);
  --color-green-900: oklch(24.2% 0.055 154.1deg);
  --color-green-950: oklch(19% 0.04 155.8deg);
}
