:root {
  --color-pink-contrast: light-dark(white, white);
  --color-pink-fg: light-dark(var(--color-pink-700), var(--color-pink-300));
  --color-pink-subtle: light-dark(var(--color-pink-100), var(--color-pink-900));
  --color-pink-muted: light-dark(var(--color-pink-200), var(--color-pink-800));
  --color-pink-emphasized: light-dark(var(--color-pink-300), var(--color-pink-700));
  --color-pink-solid: light-dark(var(--color-pink-600), var(--color-pink-600));
  --color-pink-focus-ring: light-dark(var(--color-pink-500), var(--color-pink-500));
  --color-pink-border: light-dark(var(--color-pink-500), var(--color-pink-400));
  --color-pink-50: oklch(97.1% 0.014 343.2deg);
  --color-pink-100: oklch(94.8% 0.028 342.3deg);
  --color-pink-200: oklch(89.9% 0.059 343.2deg);
  --color-pink-300: oklch(82.3% 0.11 346deg);
  --color-pink-400: oklch(72.5% 0.175 349.8deg);
  --color-pink-500: oklch(65.6% 0.212 354.3deg);
  --color-pink-600: oklch(59.2% 0.218 0.6deg);
  --color-pink-700: oklch(47.3% 0.177 3deg);
  --color-pink-800: oklch(35.4% 0.129 3.6deg);
  --color-pink-900: oklch(25.9% 0.094 3.3deg);
  --color-pink-950: oklch(19.9% 0.066 1.1deg);
}
